* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(111, 221, 21);
    --text-color: rgb(66, 66, 66);
    --background-color: rgb(255, 255, 255);
    --heading-color: rgb(39, 40, 43);
    --img-container-outline-color: rgb(255, 255, 255);
    --skills-color: rgb(39, 40, 43);
    --shadow-color-1: rgb(90, 90, 90);
    --border-top-1: rgb(41, 41, 34);
    --icon-color: rgb(66, 66, 66);
    --max-width: 1200px;
    --logo-container-background-color: rgb(235, 235, 235);
    --portfolio-btn-color: rgb(39, 40, 43); 
    --portfolio-btn-span: rgb(255, 255, 255);
    --project-border: none;
    --project-box-shadow: 2px 2px 8px rgba(85, 85, 85, 0.4);
    --opacity-filter: rgba(255, 255, 255, 0.7);
    --section-border-top: rgba(39, 40, 43, 0.05);
    --button-1: rgb(39, 40, 43);
    --polygon-color: rgb(207,207,207);

}

[theme="dark"] {
    --primary-color: rgb(39, 40, 43);
    --secondary-color: rgba(116, 230, 22, 0.5);
    --text-color: rgb(255, 255, 255);
    --background-color:rgb(39, 40, 43);
    --heading-color: rgb(129, 140, 171);
    --img-container-outline-color: rgb(255, 255, 255);
    --skills-color: rgb(111, 221, 21);
    --shadow-color-1: rgb(111, 221, 21);
    --border-top-1: rgb(111, 221, 21);;
    --icon-color: rgb(111, 221, 21);
    --logo-container-background-color: rgba(163, 163, 163, 0.15);
    --portfolio-btn-color: rgb(111, 221, 21);;
    --portfolio-btn-span: rgb(39, 40, 43);
    --project-border: inset 0 0 7px rgba( 0,0,0,0.08);;
    --project-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    --opacity-filter: rgba(39, 40, 43, 0.7);
    --section-border-top: rgba(111, 221, 21, 0.2);
    --button-1: rgba(194, 194, 194, 0.5);
    --polygon-color: rgba(124, 124, 124, 0.15);
}

body {
    font-family: 'Roboto Serif', serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}

h1, h2 {
    color: white;
    text-transform: uppercase;
}

h3, h5 {
    font-size: 1.75rem; 
}

h4, h6 {
    color: rgb(153, 152, 152);
    font-size: 1rem;
}

span, p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

video {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.header-text-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

#projects, #skills, #Contact {
    width: 86%;
    margin: 0 auto;
    max-width: var(--max-width);
}

#skills, #Contact {
    padding-top: 4rem;
}

#Contact {
    padding-bottom: 2rem;
}

.view-all-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 45, 45);
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-transform: uppercase;
    font-family: monospace;
    border: none;
    margin: 0 auto;
    height: 50px;
    padding: 0 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

@media screen and (min-width: 768px) {
    .view-all-btn {
        height: 55px;
        margin-top: 1.5rem; 
    }
}



/* -------------- HEADER & MAIN NAV STYLING --------------- */

header {
    display: flex;
    align-items: center;
    background-color: rgb(39, 40, 43);
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 10;
    padding: 0 20px;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
} 

.main-nav-menu {
    position: fixed;
    top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.main-nav-menu.active {
    display: flex;
    width: 50%;
    right: 0;
    background-color: #5a5a5a;
}

.main-nav-item {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    list-style: none;
    border-top: 1px solid rgba(116, 230, 22, 0.5);
    font-family: 'Bebas Neue', cursive;
}

.main-nav-item a {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
}

.main-nav-menu li:hover {
    background-color: rgb(153, 152, 152);
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.hamburger {
    display: inline;
    cursor: pointer;
    margin-left: auto;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.logo {
    font-size: 2rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

main {
    position: relative;
    top: 60px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }


@media screen and (min-width: 768px) {
    header {
        height: 70px;
    }
    
    #Intro {
        min-height: calc(100vh - 70px);
        display: flex;
   }

    main, .main-nav-menu, .dark-mode {
        top: 70px;
    }

    .logo{
        font-size: 2.4rem
    }
    
    .main-nav {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .main-nav-menu .current-page {
        background-color: rgb(153, 152, 152);        
    }
}

@media screen and (min-width: 900px) {

    .main-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 0;
        margin-left: auto;
        width: auto;
    }

    .main-nav-item {
        text-align: center;
        list-style: none;
        border-top: none;
        z-index: 10;
        padding: 1.2rem;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .main-nav-item {
        width: 120px;
    }
}

.dark-mode {
    position: fixed;
    top: 60px;
    z-index: 5;
    transition: transform .2s ease-in-out;
    width: 100%;
    background-color: var(--background-color);
}

.dark-mode-container {
    max-width: var(--max-width);
    height: 34px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 10px 20px; 
    background-color: var(--background-color);
    margin: 0 auto;
    
}

.is-hidden {
    transform: translateY(-100%);
}

.is-visible {
    transform: translateY(0);
}

.dm-label {
    font-size: 12px;
    margin-left: 5px;
    color: rgb(153, 152, 152);
}

.theme-switch-container {
    display: flex;
    align-items: center;
}
 
.theme-slider {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 30px;
}
 
.theme-slider input {
    display: none;
}

.slider {
    background-color: rgb(153, 152, 152);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
 
.slider:before {
    background-color: white;
    bottom: 2px;
    content: "";
    height: 12px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 12px;
}
 
input:checked+.slider {
    background-color: rgb(116, 230, 22);
}
 
input:checked+.slider:before {
    transform: translateX(14px);
}
 
.slider.round {
    border-radius: 20px;
}
 
.slider.round:before {
    border-radius: 50%;
}


@media screen and (min-width: 768px) {
    .dm-label {
        font-size: 1rem;
    }

    .dark-mode {
        top:70px;
    }
}

@media screen and (min-width: 1000px) {
    .dark-mode-container {
        padding: 1.3rem 0;
    }
}
 

/* ---------------- INTRO SECTION ------------ */

#intro {
    display: flex;
    align-items: center;
}

#hero-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 4rem;
    gap: 2.5rem;
}

.intro-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-img-container {
    height: clamp(50px, 60vw, 300px);
    width: clamp(50px, 60vw, 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--img-container-outline-color);
    overflow: hidden;
    position: relative;
}

.header-img {
    width: 100%;
    filter:contrast(130%);
}

.portfolio-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1.5rem;
}

.portfolio-button {
    background-color: var(--portfolio-btn-color);
    border-radius: 10px;
    padding: 1rem;
    width: clamp(200px, 65vw, 280px);
    text-transform: uppercase;
    font-family: monospace;
    border: none;
    margin:  auto;
    height: 50px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 55%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.05s ease-in-out;
}

.portfolio-button:hover {
    background-color: rgb(107, 108, 116);
}

.portfolio-button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.portfolio-button span {
    font-weight: 550;
    font-size: clamp(0.8rem, 4vw, 1.1rem);
    color: var(--portfolio-btn-span);
    letter-spacing: 0.1rem;
}

.icon-container {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}

.icon-container i {
    color: var(--portfolio-btn-color);
    font-size: 0.9rem;
}

.welcome-text {
    font-size: 8.5vw;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background-color: var(--icon-color);
    z-index: -1;
    right: 3%;
    bottom: -3%;
}

.intro-text {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 0 2rem 2.5rem 2rem;
    max-width: 600px;
}

@media screen and (min-width: 768px) {
    #hero-container {
        grid-template-columns: 1fr 200px;
        padding: 4rem 0;
        max-width: 80%;
        margin: 0 auto;
    }

    .portfolio-btn-container {
        order: 1;
        padding:0;
        align-items: flex-start;
    }

    .portfolio-button {
       margin: 0;
    }

    .header-img-container {
        height: 200px;
        width: 200px;
        border: 4px solid white;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .welcome-text {
        font-size: clamp(3rem, 6vw, 5rem);
        text-align: left;
    }

    .intro-text {         
        margin: 0;
        padding: 0 2rem 0 0;
    }

    .portfolio-button span {
        font-size: clamp(0.8rem, 0.5vw, 1.1rem);
    }
}

@media screen and (min-width: 900px) {
   
    #hero-container {
        grid-template-columns: 1fr 210px;
    } 
    
    .header-img-container {
        height: 210px;
        width: 210px;
    }

    .intro-text {
        padding: 0 4rem 0 0;
    }
}

@media screen and (min-width: 1080px) {
    #hero-container {
        grid-template-columns: 1fr 240px;
    } 
    
    .header-img-container {
        height: 240px;
        width: 240px;
    }
}

@media screen and (min-width: 1200px) {
    
    #hero-container {
        grid-template-columns: 1fr 300px;
        max-width: 1050px;
    } 
    
    .header-img-container {
        height: 300px;
        width: 300px;
    }
    .intro-text {
        font-size: 1.1rem;
        padding: 0 6rem 0 0;
    }
}


/* ---------------- PROJECTS SECTION STYLING ------------ */



#project-group-container {
    width: 84%;
    max-width: var(--max-width);
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
}

#project-4 {
    display: none;
}

.project-group-item {
    max-width: 400px;
    margin: 1.5rem auto;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: var(--project-box-shadow);
    border: var(--project-border);
    background-color: var(--logo-container-background-color);
}

.js-scroll {
    opacity: 0;
    transition: opacity 0.6s;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom .6s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.section-header-text {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.project-number {
    text-transform: uppercase;
}

.project-img-container {
   width: 100%;
   height: auto;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   margin: 1rem 0 1.5rem 0;
}

.project-img {
    inset: 0;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

@media screen and (min-width: 768px) {
    
    #skills {
        margin-top: 8rem;
    }

    #Contact {
        margin-top: 5rem;
    }

    #project-group-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%; 
        padding: 0 1rem;
    }

    #project-4 {
        display: block;  
    }

    .project-group-item {
        max-width: 44%;
    }

    .js-scroll:nth-child(2n) {
        transition: opacity 0.8s;
      }
    
      .scrolled.fade-in-bottom:nth-child(2n) {
        animation: fade-in-bottom .8s ease-in-out both;
      }

      #projects, #skills, #Contact {
        padding: 2rem 0 4rem;
    }
}

@media screen and (min-width: 1400px) {

    #skills {
        margin-top: 10rem;
    }
    
    #Contact {
        margin-top: 6rem;
    }

    .section-header-text {
        text-align: left;
        margin-left: 0;
        font-size: 3rem;
    }

    #project-group-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        padding-top: 2rem;
        margin: 0 auto;
    }

    .project-group-item {
        margin-bottom: 4rem;
        padding: 2rem;
        max-width: 29%;
    }

    .project-group-item:last-child {
        display: none;
    }
}


/* --------------- PROJECTS BUTTON STYLING ------------ */

.button-group {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 0.5rem;
}

.project-button, .github-button, .read-more-btn {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 35px;
    padding: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba( 0,0,0,0.25);
}

.project-button:active, .github-button:active {
    box-shadow: 1px 1px 4px rgba( 0,0,0,0.4);
}

.project-button a, .github-button a {
    font-size: 0.9rem;
    font-family: monospace;
}

.project-button {
    background-color:rgb(116, 230, 22);
}

.project-button:hover {
    background-color:rgb(159, 243, 91);
}

.github-button {
    background-color: var(--button-1);  
    color: white;  
}

.project-title {
    margin-bottom: 0.5rem;
}

.project-number {
    margin-bottom: 0.15rem;
}


/* ---------- Skills Section ----------- */

.skills-container {
    display: grid;
    width: 100%;
    max-width:var(--max-width);
    margin: 0 auto;
}

.skills-container h3 {
    color: var(--text-color);
    padding-top: 2rem;
}

.skills-text {
    padding-top: 1rem;
}

.skills-list {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.skill {
    list-style: none;
    display: flex;
    align-items: center;
    color: #424242;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3;
    font-family: monospace;
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 3px 0 var(--shadow-color-1);
    padding: 0.3rem 0.2rem .3rem .7rem;
    border-radius: 5px;
    width: 100%;
}

.skill span {
    font-size: 0.8rem;
}

.skill-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.skill-icon i {
    font-size: 1.2rem;
    color: rgb(66, 66, 66);
}

@media screen and (min-width: 375px) {
    .skill span {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {

    #skills {
        position: relative;
    }

    .skills-shape {
        position: absolute;
        background-color: var(--polygon-color);
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        clip-path: polygon(3% 0%, 97% 10%, 85% 80%, 15% 87%);
    }
    
    .skills-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-bottom: 1rem;
    }

    .skills-list-container {
        max-width: var(--max-width);
    }

    .skills-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill span {
        font-size: 1rem;
    }
}

/*------------ CONTACT STYLING ----------*/


.contact-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
}

.contact-info {
    width: 100%;
    
}



.contact-text {
    padding: 1rem 0;
}

.social-media-container {
    display: flex;   
    padding: 1rem 0 2.5rem;
}

.social-link-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.social-link-container span {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem; 
    letter-spacing: 0.05rem;
}

.social-media-item {
    margin-right: 0.5rem;
    padding: .3rem;
    background-color: var(--icon-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-item i {
    color: var(--background-color);
    font-size: 1.4rem;
}

.form {
    max-width: var(--fixed-width);
  }

.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-family: monospace;
}
  
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  border: 1px solid #919191 ;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 8rem;
}
  
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
  
.scrolled.fade-in-right {
  animation: fade-in-right .5s ease-in-out both;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.submit-btn {
    font-family: monospace;
    font-size: 1rem;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: var(--portfolio-btn-span);
    background-color: var(--icon-color);
    border: none;
}
  
@media screen and (min-width:768px) {
    .contact-container {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
    }

    .contact-left, .contact-right {
        padding: 1rem 0;
    }

    .social-media-container {
        padding-top: 1.5rem;
    }
  }

@media screen and (min-width: 1200px) {

    .contact-container {
        padding: 3rem 0;
        gap: 4rem;
    }

    .contact-left, .contact-right {
        padding: 1rem 0;
    }
  }

/* ---------- FOOTER STYLING ---------- */

footer {
    text-align: center;
    padding: 1rem 0;
    color: var(--background-color);
    background-color: rgb(39, 40, 43);
    margin-top: 60px;  /* to allow for the fixed header height */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.highlight {
    color: rgb(116, 230, 22);
    font-weight: 600;
}

.links-items-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.links-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: left;
    padding: 3rem 1.5rem 4.5rem;
    max-width: 300px;
}

.links-items a {
    color: white;
    text-decoration: 1px underline;
    text-underline-offset: 3px;
    font-size: 0.8rem;
    text-transform: uppercase;
}



/*---------  ABOUT ME PAGE  ---------------- */


.about-me-page {
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

.about-me-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me-intro h1 {
    font-size: clamp(1rem, 12vw, 3.5rem);
}

.about-img-container {
    padding: 1rem 0 0.5rem;
}

.about-me-text {
    margin: 1rem 0 2rem;
    padding: 0 0.5rem;
    max-width: 600px;
}

.about-me-right a {
    background-color: var(--portfolio-btn-color);
    width: 250px;
    height: 45px;
}


@media screen and (min-width: 768px) {
    

    /*.about-me-right {
        padding-right: 4rem;
    }

    .about-me-right a {
        margin-left: 0;
    }
    */

    .about-me-right p {
        font-size: 1.2rem;
    }

}


.skills {
    margin: 3rem 0 2rem;
    position: relative;
    padding: 2rem 0;
}

.about-skills-shape {
    position: absolute;
    background-color: var(--polygon-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clip-path: polygon(3% 4%, 93% 15%, 85% 83%, 15% 88%);
}

.about-skills-list {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.under-construction {
    background-image: url('./Images/hello-i-m-nik-umFPf301OjQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.under-construction p {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;

}

.wrapper{
    max-width: var(--max-width);
    margin-bottom: 2rem;
    position: relative;
  }

  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 3px;
    background: var(--text-color);
    left: 15px;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
    margin: 30px 0 3px 50px;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: var(--logo-container-background-color);
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--logo-container-background-color);
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:  rgb(111, 221, 21);
    font-size: 1rem;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    left: -50px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -50px;
  }
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom a {
    font-size: 0.9rem;
  }

  .row section .details{
    display: flex;
    flex-direction: column;
  }
  .row section .details .title{
    font-size: 1.1rem;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background:  var(--icon-color);
    color: var(--portfolio-btn-span);
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(1.04);
  }

  @media screen and (min-width: 768px) {
    .wrapper {
        padding-right: 1.5rem;
    }
  }

 
  



/*-------------  BLOG PAGE ------------- */



.blog-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 40px 0;
}

.blog-page-main-image {
    width: 100%;
}

.blog-image-container {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.blog-title-container {
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-title-container h1 {
    margin: 0;
    font-size: clamp(2rem, 7vw, 4rem);
}

.blog-content-container {
    padding: 1rem;
}

.blog-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.inline-blog-image {
    width: 40%;
    float: left;
    margin-right: 2rem; 
}

.blog-info-img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    border: 1px solid white;
}

.blog-info-img {
    width: 100%;
    filter:contrast(130%);
}

.blog-text-container p {
    margin-bottom: 2rem;
}

.blog-info-text p {
    font-size: 0.9rem;
}

.first-line::first-letter {
    font-size: 2rem;
    font-weight: 600;
    line-height: 0;
}

.blog-text-image {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}


@media screen and (min-width: 768px) {
    .blog-image-container {
        max-height: 400px;
    }

    .blog-info-img-container {
        width: 70px;
        height: 70px;
    }

    .blog-info-text p {
        font-size: 1.2rem;
    }

    .blog-text-container p {
        font-size: 1.2rem;
    }

    .blog-text-image {
        width: 90%;
        margin: 1rem auto 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .blog-content-container {
        padding: 1.5rem 0;
    }
}







/* ---------- Projects Page ------------- */

.page-container {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
}

.page-title {
    color: var(--text-color);
    font-size: 2.5rem;
    margin: 1.5rem 0 0.75rem;
}

.filter-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2rem;
}

.filter-button, .tag {
    padding: .3rem .6rem;
    border: none;
    border-radius: 3px;
    margin: 0.3rem 0 0.3rem 0.6rem;
    background-color: rgb(235, 235, 235);
    font-family: monospace;
    font-size: 0.8rem;   
}

.tag {
    background-color: rgb(218, 218, 218);
    font-size: 0.7rem;
}

.active-filter {
    background-color: rgb(202, 202, 202);
}

.filter-button:hover {
    background-color: rgb(202, 202, 202);
}

.projects-container {
    display: flex;
    flex-direction: column;
}



/* by default all project cards will be hidden */
.filterDiv {
    display: block;
}

/* the show class will be added to filtered elements */
.hide {
    display: none;
}

.project-container {
    padding: 1rem 1rem 1.5rem;
    margin-bottom: 2.5rem;
    background-color: var(--logo-container-background-color);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba( 0,0,0,0.3);
}

.project-title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.project-subtitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.project-content-container {
    display: flex;
    flex-direction: column;
}

.project-container-left {
    margin-bottom: 1rem;
  }

.project-image-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba( 0,0,0,0.1);
}

.tag-list {
    display: flex;
}

.project-details-text {
    width: 100%;
    padding: 1rem 0;
}

.project-details-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    background-color: rgb(82, 82, 82);
    color: white;
}

@media screen and (min-width: 768px) {
  
    .page-title {
        font-size: 3.5rem;
        margin: 2rem 0 0.5rem;
    }

    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-container {
        padding: 1.5rem;
        max-width: 47%;
        margin-bottom: 3rem;
    }

    h3 {
    font-size: 2rem;
    }

  .project-title-container {
    margin-bottom: 1.75rem;
    }
}


@media screen and (min-width: 1300px) {
    
    .filter-button {
        font-size: 1rem;
        padding: .5rem .75rem;
        margin: 0.3rem 0 0.3rem 1rem;
    }

    .filter-buttons-container span {
        font-size: 1.2rem;
    }
    
    .page-container {
        padding: 2rem 0;
    }

    .page-title {
        font-size: 4.5rem;
    }
}


@media screen and (min-width: 1600px) {

    .page-title {
        font-size: 5.5rem;
    }

}

/* ----------- Project Page ---------- */


.project-video-container {
    margin: 0 auto;
    max-width: 600px;
}

.key-learnings-list li {
    list-style-type: square;
    margin-left: 1rem;
}